.benefits {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

.benefit {
  width: 270px;
}

.benefits .benefit + .benefit {
  margin-left: 30px;
}
.benefit-blok {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--background-color-profess);
}

.benefits-list {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}

.text {
  margin-top: 10px;
  color: var(--title-text-color);
  line-height: 1.71;
}
