.clients {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
  
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .clients-item:not(:last-child) {
    margin-right: 30px;
  }
  
  .clients-item {
    width: 170px;
    height: 92px;
    justify-content: center;
  }
  .clients-link {
    display: inline-flex;
    width: 170px;
    height: 92px;
    color: var(--svg-color);
    border: 1px solid var(--svg-color);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client-icon {
    fill: currentColor;
  }
  .clients-link:hover,
  .clients-link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }