.page-header {
    border-bottom: 1px solid var(--header-color-border);
  }
  
  .main-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-main {
    display: flex;
    align-items: center;
  }

  .contact,
  .site-nav {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .contact {
    margin-left: auto;
  }
  .site-nav .item + .item,
  .contact .item + .item {
    margin-left: 50px;
    /* .site-nav .item:not(:last-child) {
          margin-right: 50px; */
  }
  
  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--accent-color);
  }
  
  .site-nav .link.current {
    color: var(--accent-color);
    position: relative;
  }
  
  .site-nav .current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    content: "";
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent-color);
  }
  
  .contact .link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .contact .link:hover,
  .contact .link:focus {
    color: var(--accent-color);
  }
  
  .telephone-mail:hover,
  .telephone-mail:focus {
    color: var(--accent-color);
  }
  .icon-header {
    vertical-align: middle;
    fill: currentColor;
    margin-right: 10px;
  }
  
  .page-header {
    background-color: var(--primary-white-color);
  }